/*********** CATALOG PAGES CSS ************/
.mt-10 { margin-top: 10px !important; }
.mt-50 { margin-top: 50px !important; }
.pr { position: relative; }
.pa { position: absolute; }
.header { margin: 40px 0; }
.page-title { background: #646d6b; padding: 20px 0; text-align: center; }
.page-title h1 { margin: 0 auto; font-variant: small-caps; }
.image_left > img { border: 3px solid #646d6b; border-radius: 20px 0; }
.image_left img:hover { border-radius: 0 20px; transition: border-radius 0.9s ease 0s; }
.frist_row { margin-top: 40px; }
img { max-width: 100%; width: 100%; }
.image-right > img { border: 3px solid #646d6b; }
.image-right { font-family: 'the_sans_light-regular'; }
.artical-text { margin-top: 45px; color: #646d6b; }
.artical-text h4 a { color: #646d6b; }
.artical-text h4 a:hover { color: #ffffff; }
.area-text { margin-top: 45px; text-align: right; }
.fr_icon h4 { font-family: 'the_sans_light-regular'; }
.fr_icon span { background: none repeat scroll 0 0 #646d6b; border-radius: 50%; float: left; height: 50px; line-height: 50px; margin-right: 10px; text-align: center; text-transform: uppercase; width: 50px; }
.fr_icon.sm-icons span { height: 30px; line-height: 30px; width: 30px; }
.fr_icon.sm-icons h4 { font-size: 16px; }
.second_row { margin-top: 80px; }
.block  h2 { font-variant: small-caps; }
.footer { float: left; margin-top: 40px; width: 100%; position: relative; }
.fr_icon { display: inline-block; margin-top: 20px; }
.fr_icon.sm-icons { margin-top: 0px; }
.footer_logo { border: 0 none; float: right; position: absolute; right: 0; }
.footer_logo a img { float: right; max-width: 50%; }
.page-number { color: #646d6b; float: left; font-size: 24px; margin-top: 85px; text-align: center; width: 100%; }
.image-up { background: url("../img/label-bg.png") no-repeat scroll 0 0 / 60% 90%; float: left; height: 100%; position: absolute; top: 0; width: 100%; }
.image-up .image-up-text { font-size: 33px; left: 46px; position: absolute; text-transform: uppercase; top: 136px; transform: rotate(-47deg); }
.image-up.col-4 .image-up-text { font-size: 25px; left: 31px; top: 85px; transform: rotate(-45deg); }
.image-down { background: rgba(0, 0, 0, 0) url("../img/leftmain-img-label.png") no-repeat scroll 0 0 / 70px 70px; bottom: 0; float: left; height: 70px; position: absolute; right: 0; width: 70px; }
.c-photo { border: 3px solid #646d6b; margin-bottom: 5px; }
.w60per { display: inline; width: 60%; }
.w35per { display: inline; width: 35%; }
.lable-item-new { top: 25px; width: 18px; }
.nouveau-label { display: inline; left: 4px; top: -14px; }
.side-label { margin: 0; font-size: 20px; text-align: center; font-variant: small-caps; }
.artical-details { font-variant: small-caps; margin: 0px; text-align: left; font-size: 17px; font-family: "the_sans_light-regular"; }
.artical-details span { color: #646d6b; }
.dimension-area { float: left; list-style: outside none none; margin: 5px 0 0; padding: 0; width: 100%; }
.dimension-area li { display: inline-block; font-family: "the_sans_light-regular"; font-size: 16px; vertical-align: middle; width: 49%; }
.dimension-area img { margin-right: 7px; width: 20px; }

/*=========== Login Page CSS 
=========================================*/
.login-form { background-image: url("../img/login_bg.jpg"); background-repeat: no-repeat; }
.well.col-md-5.center.login-box { background: #d4e0e9 none repeat scroll 0 0; box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); left: 0; margin: -162px auto 0; max-width: 300px;  right: 0; top: 50%; position:relative!important; }
.login-box .alert.alert-info { background-color: #00aeef; color: #fff; font-weight: bold; left: -20px; position: relative; top: -20px; width: 300px; }
.login-form .form-control { border: 1px solid #b1c3d0; border-left: 0 none !important; }
.login-form .input-group.input-group-lg.pass_data { margin: 10px 0; }
.login-form .input-group-addon { background: #fff none repeat scroll 0 0; border: 1px solid #b1c3d0; height: 24px !important; }
.login_data { border-bottom: 1px solid #a6b1b9; display: inline-block; float: left; margin-bottom: 0; width: 100%; }
.login-box .input-prepend { display: inline-block; margin-bottom: 0; margin-top: 15px; vertical-align: middle; width: 100%; }
.well.col-md-5.center.login-box { background: #d4e0e9 none repeat scroll 0 0; box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); left: 0; margin: -162px auto 0; max-width: 300px;  right: 0; top: 50%; }
.login-box .alert.alert-info { border: 0 none; border-radius: 3px 3px 0 0; text-align: center; }
.form-horizontal .remember { float: left; }
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn { height: 40px; padding: 7px 16px; }
.forgot_pass { color: #00aeef; float: right; font-size: 13px; font-weight: bold; margin-top: 6px; text-decoration: underline; }
.btn.btn-primary.signin { background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #00aeef 0%, #007dac 100%) repeat scroll 0 0; border: 1px solid #3b7e9f; border-radius: 3px; font-size: 18px; padding: 5px 0; }
.btn.btn-primary.signin:hover { background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #007dac 0%, #00aeef 100%) repeat scroll 0 0; }
.form-horizontal .login_data .btn-primary { margin-bottom: 20px; margin-top: 0; width: 100%; }
.form-horizontal .pass_data { margin-bottom: 20px !important; }
.login-form .form-control::-moz-placeholder { color: #868f95; }
.form-control { font-size: 14px !important; font-weight: bold; }
.login-form .glyphicon { color: #868f95; font-size: 14px; }

/*********** CATALOG PAGES MEDIA SCREEN CSS ************/
@media (max-width:1200px) {
    .dimension-area li { width: 100%; }
    .nouveau-label { top: -13px; }
    .image-up.col-4 .image-up-text { font-size: 22px; left: 15px; top: 73px; }
    .image-up .image-up-text { font-size: 33px; left: 16px; top: 114px; }
}
@media (max-width:992px) {
    .block .col-sm-6.col-md-3.col-lg-3 { margin-top: 40px; }
    .image-up.col-4 .image-up-text { font-size: 16px; left: 18px; top: 50px; transform: rotate(-44deg); }
    .image-up.col-4 .image-up-text { font-size: 19px; left: 5px; top: 55px; }
    .image-up .image-up-text { font-size: 26px; left: 6px; top: 88px; }
}
@media (max-width:768px) {
    h1, .h1 { font-size: 26px; }
    .header { margin: 40px 0; }
    .frist_row .col-sm-6.col-md-6.col-lg-6 { margin-bottom: 40px; }
    .second_row .col-sm-6.col-md-6.col-lg-6 { margin-bottom: 40px; }
    .second_row { margin-top: 0; }
    .artical-text { margin-top: 15px; }
    .area-text { margin-top: 15px; }
    .image-up { height: 90%; width: 90%; }
    .image_left { margin-bottom: 50px; }
    .side-details, .artical-details { text-align: center; }
    .side-details { display: inline-block; margin-bottom: 50px; }
    .dimension-area li { width: 49%; }
    .nouveau-label { top: -19px; }
}
@media (max-width:767px) {
    .image-up.col-4 .image-up-text { font-size: 36px; height: 100%; left: 23%; top: -12%; transform: rotate(-49deg); width: 100%; }
    .image-up .image-up-text { font-size: 36px; height: 100%; left: 21%; top: -12%; width: 100%; }
}
@media (max-width:640px) {
    h2, .h2 { font-size: 24px; }
    .image-up.col-4 .image-up-text { font-size: 30px; }
    .image-up .image-up-text { font-size: 30px; }
}
@media (max-width:480px) {
    .image-up.col-4 .image-up-text { font-size: 25px; left: 23% }
    .image-up .image-up-text { font-size: 25px; left: 23% }
}
@media (max-width:360px) {
    .image-up.col-4 .image-up-text { font-size: 22px; left: 25%; }
    .image-up .image-up-text { font-size: 22px; left: 21%; }
}